<div class="folder">
  <div class="folder-header">
    <div class="folder-title orange">
      <span>{{title}} <span style="font-weight: bold">{{highlightTitle}}</span></span>
    </div>
      <div (click)="addReceivableMock()">adicionar</div>
    <div class="folder-amount-total">R$ {{ sum }}</div>
  </div>

  <div class="folder-content">
      <div [ngSwitch]="contentType">

          <app-receivables *ngSwitchCase="'receivables'" [data]="ReceivablesModel"></app-receivables>

          <div *ngSwitchDefault>Component type {{contentType}} not registered to show data yet.</div>
      </div>
  </div>
</div>