<div class="col-12">
  <div class="head-title green">
    fechamento do mês |<span> agosto/2018</span>
  </div>
</div>

<div class="row">
  <div class="col-6">

    <div class="head-title green">
      CONTAS <span>FIXAS</span>
    </div>

    <div class="spacer"></div>

    <app-databox
        [contentType]="'receivables'"
        [title]="'Contas'"
        [highlightTitle]="'Fixas'"
    >
    </app-databox>

    <!--<div class="folder">-->
      <!--<div class="folder-header">-->
        <!--<div class="folder-title orange">-->
          <!--<span>Valor <span>fixo</span></span>-->
        <!--</div>-->
        <!--<div class="folder-amount-total">R$ 2.000,00</div>-->
      <!--</div>-->

      <!--<div class="folder-content">-->
        <!--<div class="line">-->

          <!--<div class="arrowbox-red-up">-->
            <!--<div class="arrow-percent">87.3%</div>-->
            <!--<div class="arrows">-->
              <!--<i class="icon-up-dir active"></i>-->
              <!--<i class="icon-down-dir"></i>-->
            <!--</div>-->
          <!--</div>-->
          <!--<hr>-->
          <!--<div class="arrowbox-green-up">-->
            <!--<div class="arrow-percent">99.5%</div>-->
            <!--<div class="arrows">-->
              <!--<i class="icon-up-dir active"></i>-->
              <!--<i class="icon-down-dir"></i>-->
            <!--</div>-->
          <!--</div>-->

        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

  </div>
  <div class="col-6">
    <div class="head-title orange">
      CONTAS <span>VARIÁVEIS</span>

    </div>
    <div class="spacer"></div>

    <div class="folder">
      <div class="folder-header">
        <div class="folder-title orange">
          <span>Valor <span>fixo</span></span>
        </div>
        <div class="folder-amount-total">R$ 2.000,00</div>
      </div>

      <div class="folder-content">
        Nada cadastrado ainda...
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-6">
    col 3
  </div>
  <div class="col-6">
    col 4
  </div>
</div>

<div class="row">
  <div class="col-4">
    col 4.1
  </div>
  <div class="col-4">
    col 4.2
  </div>
  <div class="col-4">
    col 4.3
  </div>
</div>

<div class="row">
  <div class="col-3">
    col 3.1
  </div>
  <div class="col-3">
    col 3.2
  </div>
  <div class="col-3">
    col 3.3
  </div>
  <div class="col-3">
    col 3.4
  </div>
</div>